<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"/>
  <title>About</title>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body>

  <div class="container">
    <div class="about-background">
      <nav class="page-nav">
        <a href="/">
          <%= image_tag("white-plant.png", alt: "white plant logo", class: "page-logo") %>
          <!-- <img class="page-logo" src="assets/white-plant.png" alt="pic"> -->
        </a>
        <a href="/" class="white-plant">
          <%= image_tag("white-plant.png", alt: "white plant logo", class: "page-logo") %>
          <!-- <img class="white-plant" src="assets/white-plant.png" alt="pic"> -->
        </a>
        <a href="/" class="name-logo"><h2 class="name-logo" id="page-name-logo">Underlying Light</h2></a>
        <div class="stroke">
          <ul class="nav-links" id="page-nav-links">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="about" class="active">About</a>
            </li>
            <li>
              <a href="pricing">Services</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="burger" id="page-burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>

      <header class="about-banner">
        <h1 class="page-header">About Us</h1>
      </header>

      <section class="about-section">

        <aside class="about-aside">
          <div class="aside-image">
          </div>
          <div class="about-contact">
            <div class="contact-content">
              <h3>Contact</h3>
              <p><i class="fas fa-phone"></i> (248)705-7423</i></p>
              <p><i class="fas fa-envelope"></i> ewether@gmail.com</p>
              <p><i class="fas fa-clock"></i> Monday - Friday <br> 8:00am - 6:00pm</p>
            </div>
          </div>
          <div class="about-services">
            <div class="services-content">
              <h3>Services</h3>
              <div class="service">
                <h4>Swedish Massage</h4>
                <p>$65</p>
              </div>
              <div class="service">
                <h4>Deep Tissue</h4>
                <p>$75</p>
              </div>
              <div class="service">
                <h4>Sports Massage</h4>
                <p>$85</p>
              </div>
            </div>
          </div>
        </aside>

        <div class="about-right">

          <div class="about">
            <h1>Our Story</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aut, id nostrum voluptatum, itaque non ipsum consequatur placeat eligendi accusamus porro laboriosam quisquam iure natus! Perspiciatis consequatur illum nostrum aspernatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi id beatae omnis autem doloribus repudiandae reiciendis, quod quae rerum ratione impedit, perspiciatis laborum repellat porro. <br><br> accusantium qui quisquam officiis itaque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aut, id nostrum voluptatum, itaque non ipsum consequatur placeat eligendi accusamus porro laboriosam quisquam iure natus! <br><br> Perspiciatis consequatur illum nostrum aspernatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aut, id nostrum voluptatum, itaque non ipsum consequatur placeat eligendi accusamus porro laboriosam quisquam iure natus! Perspiciatis consequatur illum nostrum aspernatur.</p>
          </div>

<!--           <div class="about-blurb">
            <h2>Nulla pellentesque dignissim enim,<span><br> sit ut sem viverra aliquet eget sit.</span></h2>
          </div> -->

        </div>
    </section>

    <div class="about-image-banner">
    </div>

<!--     <section class="highlight-cards">
      <h2>Our Values</h2>
      <div class="highlight-body">
        <div class="highlight-card" id="highlight-card-1">
          <p>Senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
        <div class="highlight-card" id="highlight-card-2">
          <p>Elit sed vulputate mi sit amet mauris. Ut sem viverra aliquet eget sit.</p>
        </div>
        <div class="highlight-card" id="highlight-card-3">
          <p>Aliquet lectus proin nibh nisl condimentum id venenatis.</p>
        </div>
      </div>
    </section> -->

    <section class="about-callout callout-section">
      <div class="callout-container">
        <div class="callout-body">
          <h2>
            Ut sem viverra aliquet
            <span>malesuada fames ac turpis egestas.</span>
          </h2>
          <button>
            Contact Us
          </button>
        </div>
        <div class="callout-cards">
          <div class="callout-card" id="callout-card-1">
          </div>
          <div class="callout-card" id="callout-card-2">
          </div>
          <div class="callout-card" id="callout-card-3">
          </div>
          <div class="callout-card" id="callout-card-4">
          </div>
        </div>
      </div>
    </section>

    <section class="pre-footer">
    </section>

      <footer class="footer">
        <div class="main-footer-content">

          <div class="footer-logo">
              <a href="/">
                <%= image_tag("logo.png", alt: "logo") %>
                <!-- <img src="assets/logo.png" alt="pic"> -->
              </a>
              <!-- <p>Nulla pellentesque dignissim enim sit.</p> -->
          </div>

          <div class="footer-links">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="about">About Us</a>
              </li>
              <li>
                <a href="pricing">Our Services</a>
              </li>
              <li>
                <a href="contact">Contact Us</a>
              </li>
 <!--              <li class="privacy-policy">
                <a href="#">Privacy Policy | Terms of Use</a>
              </li> -->
            </ul>
          </div>

          <div class="vertical-line">
          </div>
        </div>

        <div class="footer-copyright">
          <p>© 2020 underlyinglight.com All Rights Reserved</p>
        </div>
      </footer>

    </div>
  </div>

  <script src="assets/nav.js"></script>
  <script src="assets/accordion.js"></script>
  <script src="assets/page.js"></script>

  <%= javascript_pack_tag "nav" %>
  <%= javascript_pack_tag "accordion" %>
  <%= javascript_pack_tag "page" %>

</body>
</html>
